#footer {
  background: $black;

  ul.list-inline {
    li {
      a {
        color: $light;
        font-weight: 700;
        text-transform: uppercase;

        @include hover-focus {
          color: $primary;
        }
      }
    }
  }
}
