@import "variables";

@import "bootstrap";

@import "utilities";

@import "navbar";

@import "header";
@import "content";
@import "footer";

@import "pages";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  letter-spacing: -0.15;
}

#wrapper {
  position: relative;
  min-height: 100vh;

  h1 {
    color: $primary;
    text-transform: uppercase;
  }
}

.icon-pdf {
  height: 1em;
  width: 1em;
  display: inline-block;
  background-image: url('~@fortawesome/fontawesome-free/svgs/regular/file-pdf.svg');
  -svg-mixer-fill: #ffffff path;
  background-repeat: no-repeat;
  background-position: center left;
}
